.content{
  background-color:green;
  position:relative;
}

.content-wrap2::after{
  position:absolute;
  content: "";
  width: 8rem;
  top:4rem;
  left:4rem;
  height: 2px;
  background-color: orange;
}

.content-1{
  position:relative;
}

.content-wrap3::after {
  position:absolute;
  content: "";
  width: 4.8rem;
  top: 6rem;
  left:4rem;
  height: 2px;
  background-color: orange;
}

.content-2{
  position:relative;
}

.content-wrap4::after{
  position:absolute;
  content: "";
  width: 8rem;
  top:4rem;
  left:4rem;
  height: 2px;
  background-color: orange;
}


.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(#333 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}